/wp-mail.php
/wp-trackback.php
/wp-cron.php
/index.php
/wp-links-opml.php
/blogs/
/wp-settings.php
/wp-signup.php
/.htaccess.170707083739.orig
/wp-load.php
/.gitignore
/wp-comments-post.php
/web.config.170707085736.orig
/xmlrpc.php
/wp-includes/
/license.txt
/wp-login.php
/wp-admin/
/.htaccess.170707085736.orig
/tmp/
/wp-snapshots/
/wp-activate.php
/wp-config-sample.php
/readme.html
/.htaccess
/web.config
/wp-blog-header.php
/wp-config.php
!/wp-content/plugins/mv-web-reporter/
!/wp-content/themes/Impreza-child/
!/.gitignore
.idea/cscl-reporter.iml
.idea/deployment.xml
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/modules.xml
.idea/php.xml
.idea/workspace.xml
/wp-content/plugins/easy-wp-cleaner/
/wp-content/plugins/lingotek-translation/
/wp-content/plugins/popup-maker/
/wp-content/plugins/real-kit/
/wp-content/plugins/contact-form-7/
/wp-content/plugins/Ultimate_VC_Addons/
/wp-content/plugins/polylang/
/wp-content/plugins/duplicator/
/wp-content/plugins/akismet/
/wp-content/plugins/wp-smushit/
/wp-content/plugins/codelights-shortcodes-and-widgets/
/wp-content/plugins/wp-php-console/
/wp-content/plugins/wpdatatables/
/wp-content/plugins/revslider/
/wp-content/plugins/revision-control/
/wp-content/plugins/us-header-builder/
/wp-content/plugins/js_composer/
/wp-content/plugins/updraftplus/
/wp-content/languages/
/wp-content/upgrade/
/wp-content/uploads/
/wp-content/index.php
/wp-content/updraft/
/wp-content/themes/Impreza/
/wp-content/themes/twentyseventeen/
/wp-content/themes/index.php
/wp-content/plugins/index.php
